<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SteemData API</title>
    <link rel="shortcut icon" type="image/png" href="/static/fav.png"/>
</head>
<body>
<h1>Available API's:</h1>

<h3>General</h3>
<ul>
    <li><a href="/health">/health</a></li>
</ul>

<h3>busy.org</h3>
<ul>
    <li><a href="/busy.org/furion/followers">/busy.org/(username)/followers|following</a></li>
</ul>

<h3>steemq.com</h3>
<ul>
    <li><a href="/steemq.com/new">/steemq.com/new</a></li>
    <li><a href="/steemq.com/trending">/steemq.com/trending</a></li>
    <li><a href="/steemq.com/blog/steemq-blog">/steemq.com/blog/(username)</a></li>
    <li><a href="/steemq.com/search/%22elon%20musk%22">/steemq.com/search/(search+terms)</a></li>
    <li><a href="/steemq.com/search/barbara2/%22elon%20musk%22">/steemq.com/search/(username)/(search+terms)</a></li>
</ul>

{#<h3>steemdata.com</h3>#}
{#<ul>#}
{#    <li><a href="/steemdata.com/mentions/furion">/steemdata.com/mentions/(username)</a></li>#}
{#    <li><a href="/steemdata.com/linkbacks/@foo">/steemdata.com/linkbacks/(identifier)</a></li>#}
{#    <li><a href="/steemdata.com/search/%22elon%20musk%22">/steemdata.com/search/(search+terms)</a></li>#}
{#</ul>#}

</body>
</html>